backports-abc==0.4
biopython==1.66
cycler==0.9.0
Cython==0.24
decorator==4.0.9
et-xmlfile==1.0.1
flake8==2.5.0
graphviz==0.4.10
ipython==4.1.1
ipython-genutils==0.1.0
jdcal==1.3
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.3.1
mpi4py==1.3.1
networkx==1.10
numpy==1.10.4
openpyxl==2.4.0
pandas==0.17.1
path.py==8.1.2
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
ptyprocess==0.5.1
pydot2==1.0.33
pydotplus==2.0.2
pyflakes==1.0.0
pygraphviz==1.3.1
pylab==0.1.3
pymongo==3.2
pyparsing==2.1.0
python-dateutil==2.4.2
python-nexus==1.34
pytz==2015.7
pyzmq==15.2.0
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
six==1.10.0
svgwrite==1.1.6
sympy==0.7.6.1
toposort==1.4
tornado==4.3
traitlets==4.1.0
